
{% load static %}
<div id="posts-section" class="container mt-4">
    {% for post in page_obj %}
    {% include 'network/partials/post.html' %}
    {% endfor %}
</div>


<!-- Navigation buttons -->
<div class="container mt-4">
    <div class="d-flex justify-content-between">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
</div>
</div>


<!-- Bootstrap Icons (Needed for Like, Comment, Edit icons) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">